// COLORS
$primary-color: #a441d1;
$secondary-color: #6bbfd9;
$average-color: #a441d1;
$gradient-contrast-color: #292929;

$light-grey: #535353;
$dark-grey: #292929;

$white-color: #ffffff;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
