// COLORS
$primary-color: #a441d1;
$secondary-color: #6bbfd9;



$white-color: rgb(0, 0, 0);

$light-grey: #535353;
$dark-grey: #292929;

$dark-blue-text: #f7f6ff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
